.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 2.2rem;
  cursor: default;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.list li {
  margin: 0 20px;
  font-size: 1.8rem;
}

.list li a:hover {
  color: #222;
}